
.container
    position: relative
    max-width: 100vw
    max-width: calc(100vw - 1rem)
    max-height: 100vh
    overflow-y: auto
    width: 75vh
    margin: auto
    // margin-bottom: 4rem
    // margin-top: auto 
    // margin-bottom: auto

    & > div
        margin-bottom: 0.5rem
